[submodule "l10n-mx-xml-invoice"]
	path = l10n-mx-xml-invoice
	url = git@github.com:xmarts/l10n-mx-xml-invoice.git
	branch = 14.0

[submodule "credit_limit_alert_update"]
	path = credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
	branch = 14

[submodule "l10n-mx-pos-global-invoice"]
	path = l10n-mx-pos-global-invoice
	url = git@github.com:xmarts/l10n-mx-pos-global-invoice.git
	branch = 14.0

[submodule "multi-branch"]
	path = multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = 14.0

[submodule "xmarts/l10n-mx-pos-global-invoice"]
	path = xmarts/l10n-mx-pos-global-invoice
	url = git@github.com:xmarts/l10n-mx-pos-global-invoice.git
	branch = 14.0

[submodule "xmarts/paqsa_submodule"]
	path = xmarts/paqsa_submodule
	url = git@github.com:xmarts/paqsa_submodule.git
	branch = 1.0
