[submodule "multi-branch"]
	path = multi-branch
	url = git@github.com:xmarts/multi-branch.git
	branch = 14.0

[submodule "credit_limit_alert_update"]
	path = credit_limit_alert_update
	url = git@github.com:xmarts/credit_limit_alert_update.git
	branch = 14
